<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ 'welcome'|trans }}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 56px;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <a class="navbar-brand" href="{{ path('game_list') }}">{{ 'Stadium Management'|trans }}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_register') }}">{{ 'register'|trans }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_login') }}">{{ 'login'|trans }}</a></li>
                    {% else %}
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_logout') }}">{{ 'logout'|trans }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ path('app_edit_profile') }}">{{ 'edit_profile'|trans }}</a></li>
                    {% endif %}
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ path('switch_locale', { 'locale': 'en' }) }}">{{ 'english'|trans }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ path('switch_locale', { 'locale': 'fa' }) }}">{{ 'persian'|trans }}</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        {% block body %}{% endblock %}
    </main>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>